{% extends "default:base.html" %}

{% block extra_head %}
  {{ super() }}
  <!-- CSS base Datasette -->
  <link rel="stylesheet" href="/-/static/app.css">
  <!-- CSS personalizzati -->
  <link rel="stylesheet" href="/custom/styles.css?v=4">
  <link rel="stylesheet" href="/custom/mobile.css?v=4" media="(max-width: 900px)">
  <link rel="stylesheet" href="/custom/desktop.css?v=4">
  <!-- JS personalizzati caricati da <head> con defer -->
  <script defer src="/custom/formatting.js?v=4"></script>
  <script defer src="/custom/fix_links.js?v=5"></script>
  <script defer src="/custom/click_to_filter.js?v=4"></script>
  <script defer src="/custom/timestamp_calendar_button.js?v=1"></script>
  <script defer src="/custom/timestamp_autosize_config.js"></script>
  <script defer src="/custom/map_overlay.js?v=2"></script>


{% endblock %}
